* {
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: white;
}

p {
  color: white;
  font-size: 1.5rem;
  margin-left: 30px;
}

.target {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
}

/* #target-id {
  background-image:
    none;
  z-index: 2;
} */

.nav-link {
  color: black;
  z-index: 1;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar {
  justify-content: center;
  text-transform: uppercase;
}

.services-dropdown {
  text-transform: uppercase;
  font-size: 2rem !important;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  /* background-image:
    repeating-radial-gradient(circle, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.55)); */
}

.logo {
  width: 200px;
  height: 100px;
  /* margin-left: -120%;
  margin-right: 2.5rem; */
}

/* .bgImage {
  background-image:
    repeating-radial-gradient(circle, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.75));
  background-position: center;
  background-repeat: no-repeat;

  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
  z-index: 1;
  border: 20px solid red;
} */

.bgImage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image:
    repeating-radial-gradient(circle, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.75)); */
  z-index: 1;
}

/* POOLS */
.pool {
  margin-right: 50px;
  /* margin-top: 50px; */
  margin-top: 30px;

  float: left;
}

.poolPara {
  float: left;
}

/* POOLS */

/* BATH */
.bath-grid-container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1200px;
  padding: 10px;
}

.bath-grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
}

.bath-image {
  /* margin-right: 50px;
  margin-top: 50px;
  margin-left: 50px; */
  height: 1000px;
  width: 700px;
  position: relative;
  border: 180px solid rgb(0, 255, 81);
  margin-right: 140px;
}

/* BATH */

.alignedPara {
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  text-align-last: left;
  margin-left: 20px;
  text-decoration: none;
}

/* Kitchen */
.grid-container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1200px;
  padding: 10px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
}



.kitchen-container {
  /* top: 200px;
  margin-top: 4500px; */
}

.kitchenHeading {
  text-align: center;
  color: white;
}

.kitchen {
  /* margin-right: 50px;
  margin-top: 50px;
  margin-left: 50px; */
  height: 1000px;
  width: 700px;
  border: 180px solid rgb(0, 255, 81);
}


.kitchen-card-bg {
  height: 2400px;
  width: 700px;
}

.kitchen-para {
  /* margin-right: 500px; */
  /* margin-top: 500px; */
  float: left;
}

.kitchen-image-right {
  /* float: left; */
  border: 20px solid yellow;

}

.image-border {
  /* width: 400px;
  height: 200px; */
  border: 2px solid #fff;
  /* background: url(img/tiger.png) no-repeat; */
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}



/* Kitchen */

/* GALLERY PAGE */
.before-after {
  font-size: 1.8rem;
  font-weight: bold;
}

/* GALLERY PAGE */

/* FAQ */
.accordion {
  width: 70%;
  left: 10%;
  background-color: #484A4C !important;

}

.accordHeading {
  font-size: 1.5rem !important;
  color: white;
}

.accordPara {
  font-size: 1.2rem !important;
  color: white;
}

/* FAQ */
.faq {
  width: 200px;
  height: 200px;
  margin-left: 45%;
}

.faq-heading {

  text-align: center;

}

/* CONTACT PAGE */

.socials {
  position: relative;
  left: 30%;
  margin: 0 auto;
  z-index: 3;
}

.home-socials {
  /* margin: 20px; */
  bottom: 0;
  text-align: center;
  width: 100%;
  background-image:
    repeating-radial-gradient(circle, rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0.75));
  /* border: 20px solid green; */
  /* object-fit: cover;
  z-index: 2; */
  position: absolute;

}

.home-social-icons {
  z-index: 2;
  position: relative;
  margin-right: 10px;

}

.social-icons {
  text-decoration: none;
  position: relative;

}

.home-social-text {
  margin-left: 15px;
  color: black;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 1px 1px white;
  letter-spacing: 2px;

}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  /* box-shadow: none !important;
  border: 0 !important; */
}

.social-text {
  margin-left: 15px;
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px grey;
  text-decoration: none;
}

/* CONTACT PAGE */