* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}


body {
  background: #191c29;

}

html,
body {
  height: 100%;
}

h3 {
  color: white;
}

p {
  color: white;
  font-size: 1.5rem;
  margin-left: 30px;
}

ul {
  display: inline-block;
  text-align: left;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.5rem;
}

.pointer {
  cursor: pointer;
}



.target {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
}

/* #target-id {
  background-image:
    none;
  z-index: 2;
} */

.nav-link {
  z-index: 1;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: -9px;
}

/* .nav-color-dark {
  color: black;
}

.nav-color-light {
  color: white;
} */

.navbar {
  justify-content: center;
  text-transform: uppercase;
}

.services-dropdown {
  text-transform: uppercase;
  font-size: 2rem !important;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  /* background-image:
    repeating-radial-gradient(circle, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.55)); */
  /* background-image: url("../public/img/kitchen/kitchen8.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;



  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; */
}

/* 
button {
  background-color: #666;
  border: medium none;
  color: #fff;
  display: block;
  font-size: 18px;
  left: 0;
  margin: 0 auto;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}

button.active {

  background-color: #0077a2;
} */


.logo {
  width: 200px;
  height: 100px;
  /* margin-left: -120%;
  margin-right: 2.5rem; */
  z-index: 1;
}

/* .bgImage {
  background-image:
    repeating-radial-gradient(circle, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.75));
  background-position: center;
  background-repeat: no-repeat;

  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
  z-index: 1;
  border: 20px solid red;
}

.bgImage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
} */

.footer-social-icon {
  width: 60px;
  height: 60px;
}


/* ALL SERVICES PAGE */


.servicesImageContainer {
  position: relative;
  text-align: center;
  color: white;

}

.servicesImageContainerBefore {
  margin-left: 30%;
}

.servicesPara {
  margin-left: 15%;
  margin-right: 15%;
}

.beforeAfterImg {
  width: 400px;
  height: 400px;
  margin-left: 25px;
  margin-top: 25px;
}

.beforeAfterText {
  position: absolute;
  top: 50%;
  left: 50%;

  font-weight: bold;
}

/* ALL SERVICES PAGE */

/* POOLS */
.pool {
  margin-right: 50px;
  /* margin-top: 50px; */
  margin-top: 30px;

  float: left;
}

.poolLineBreaks {
  display: none;
}

.poolPara {
  padding-left: 100px;
  margin-right: 400px;
}

/* POOLS */

/* BATH */
.bath-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1200px;
  padding: 10px;
  /* border: 20px solid red; */
}

.bath-grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
}

.bath-image {
  /* margin-right: 50px;
  margin-top: 50px;
  margin-left: 50px; */
  height: 1000px;
  width: 700px;
  position: relative;
  border: 180px solid rgb(0, 255, 81);
  margin-right: 140px;
}

/* BATH */

.alignedPara {
  text-align: center;
  word-wrap: normal;
  /* word-break: break-all; */
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
}

/* Kitchen */
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1200px;
  padding: 10px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  margin: 20px;
}





.kitchen-container {
  /* top: 200px;
  margin-top: 4500px; */
}

.kitchenHeading {
  text-align: center;
  color: white;
}

.kitchen {
  /* margin-right: 50px;
  margin-top: 50px;
  margin-left: 50px; */
  height: 1000px;
  width: 700px;

}


.kitchen-card-bg {
  height: 2400px;
  width: 700px;
}

.kitchen-para {
  /* margin-right: 500px; */
  /* margin-top: 500px; */
  float: left;
}

.kitchen-image-right {
  /* float: left; */
  border: 20px solid yellow;

}

.image-border {
  /* width: 400px;
  height: 200px; */
  border: 2px solid #fff;
  /* background: url(img/tiger.png) no-repeat; */
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}



/* Kitchen */

/* BASEMENT page */

.basementHeading {
  text-align: center;
  color: white;
}

.basementPara {
  margin-left: 450px;
  margin-right: 450px;
  text-align: center;
}

/* Fencing, Deck and Patio */
.deckPara {
  margin-left: -45px;
  margin-right: 50px;
}


/* GALLERY PAGE */
.before-after {
  font-size: 1.8rem;
  font-weight: bold;
}

.headingHover {
  text-align: center;


}

/* GALLERY PAGE */

/* FAQ */
.accordion {
  width: 60%;
  left: 20%;
  background-color: #2f2f30 !important;
  /* position: relative;
  margin-left: 5%;
  margin-right: auto;
  display: block; */

}

.accordHeading {
  font-size: 1.8rem !important;
  color: #0C7AFF;


}

.accordPara {
  font-size: 1.5rem !important;
  color: #FFBF19;
}

.faq {
  width: 200px;
  height: 200px;
  margin-left: 45%;
}

.faq-heading {

  text-align: center;
  color: #0C7AFF;

}

#faq-heading-answers {
  color: #FFBF19;

}

/* ABOUT PAGE */
.canadianFlagIcon {
  width: 75px;
  height: 75px;
}

.aboutUsHeading {
  text-shadow: 1px 1px black
}

/* .about-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;

  padding: 10px;
  grid-template-rows: min-content;

} */

.about-grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  margin: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0);
  /* border: 2px solid white; */
  background-image: url("../public/img/canadian-bg.png");
  background-repeat: no-repeat;
  background-size: stretch;
  background-size: 100% 100%;
  border: 5px solid black;
  /* display: grid; */
  /* grid-template-columns: 60%; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.vanPic {
  width: 400px;
  height: 400px;

  position: relative;
  /* margin-top: 100px; */

  box-shadow: 5px 5px 10px rgba(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}

.canadianFlag {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* ABOUT PAGE */


/* CONTACT PAGE */


.socials {
  position: relative;
  left: 30%;
  margin: 0 auto;
  z-index: 3;
}

.home-socials {
  /* margin: 20px; */
  bottom: 0;
  text-align: left;
  width: 100%;
  /* background-image:
    repeating-radial-gradient(circle, rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0.75)); */
  /* border: 20px solid green; */
  /* object-fit: cover;
  z-index: 2; */
  position: fixed;

  left: 0;
  right: 0;
  margin: 0 0;
  text-align: center;



}

.home-social-email {
  margin-left: 130px;
}

.home-social-instagram {
  margin-left: -40px;
}

.home-social-responsiveness {
  display: none;
}

.home-socials-large-screens {
  display: block;
}

.home-social-icons {
  z-index: 2;
  position: relative;
  margin-right: 10px;
  width: 60px;
  height: 60px;

}

.home-social-icons-email {
  left: 20px;
}

.home-socials-icons-large-screens {
  /* text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  text-align-last: left;
  margin-left: 0px;
  text-decoration: none; */
  /* left: -150px;
  margin-left: -300px; */
  /* border: 5px solid green; */
  margin-left: 350px;

}

.social-icons {
  text-decoration: none;
  position: relative;

}

.home-social-text {
  margin-left: 15px;
  color: black;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 1px 1px white;
  letter-spacing: 1px;

}

.home-social-text-email {
  margin-left: 50px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  /* box-shadow: none !important;
  border: 0 !important; */
}

.social-text {
  margin-left: 15px;
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
  /* text-shadow: 2px 2px black; */
  text-decoration: none;
  letter-spacing: 1px;
}

.footer-service-area-text {
  text-shadow: 2px 2px black;

}


/* Quote page */
/* .quoteContainer {
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
} */
/* grid-template-rows: 700px; */



/* text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative; */
/* left: 50%;
  margin-right: -50%; */

.quoteHeading {

  text-align: center;
  color: white;
}

/* .quote-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-left: 0%;
} */

/* background-color: rgba(255, 255, 255, 0.8); */
/* margin-right: 10px;
  margin: 20px; */

.quoteImgSupport {
  width: 400px;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.formInstagramPost {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.quoteForm {
  background-color: green;

  /* margin: 0 auto; */
  border: 2px solid black;
  /* text-align: center; */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.formHeading {
  text-transform: uppercase;
  font-weight: bold;
}

.formLabels {
  color: white;
  font-size: 1.4rem;

}

.formInputText {
  width: 300px;
  text-align: center;
  border: 2px solid black;

}

input {
  padding: 5px;
  margin: 5px 0;
  outline: none;
}

input:focus,
input:active {
  border-color: transparent;
  border-bottom: 5px solid #1c87c9;
}

#formInputMessage {
  height: 250px;
  width: 355px;
}

.formSubmitBtn {
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 1.4rem;
  font-weight: bolder;
}

/* CONTACT PAGE */

/* .contact-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 900px;
  padding: 10px;
} */

.contact-grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  margin: 20px;
  border: 2px solid white;
  background-image: url("../public/img/aboutUsBg.jpeg");
  background-repeat: no-repeat;
  background-size: stretch;
  background-size: 100% 100%;
  border: 5px solid black;
  /* display: grid; */
  /* grid-template-columns: 60%; */
  width: 100%;
  height: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.contactUsHeading {
  text-transform: uppercase;
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 1px 1px black;
}

.contactSupportImage {
  width: 270px;
  height: 270px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0);
}

.buttonEmailUs {
  padding: 23px;
  margin-bottom: -120px;
  margin-top: -120px;
  margin-left: 50px;
  bottom: 75px;

}

.buttonEmailUsText {
  margin-left: 10px;
  font-weight: 900;
  font-size: 1.2rem;
}

.buttonCallUs {
  padding: 28px;
  margin-top: -70px;
  margin-left: 310px;
  bottom: 125px;
}

.buttonCallUsText {
  margin-left: 10px;
  font-weight: 900;
  font-size: 1.2rem;
}

/* .contactCard {
  background-color: #484A4C;
  background-color: black;
  margin-left: 20%;
  margin-left: auto;
  margin-right: auto;

}

.contactCardTitle {
  color: white;
}

.contactCardLink {
  color: white;
  font-size: 1.5rem;
}

.contactUsHeading {} */

.contactPara {
  color: #57BDEA;
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 1px 1px black;
  margin-right: 100px;
}

/* .contactCardText {
  margin-top: 20px !important;
  border: 10px solid yellow;
} */

/* FOOTER */
.footer {
  color: white;
  text-transform: uppercase;
  background-color: #484A4C;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* position: fixed; */

}

body>footer {
  position: sticky;
  top: 100vh;
  bottom: 0;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 25% 30% 45%;
  grid-template-rows: 400px;
  padding: 10px;
}

.footer-grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  border: 1px dotted white;
}

.footer-social-icon {
  margin-top: 20px;
  font-size: 30;
}

.footer-social-material-icon {
  width: 100px;
  height: 100px;
}

.footer-logo {
  width: 100px;
  height: 50px;
}

.footer-socials-heading {
  text-align: left;
  margin-left: 150px;
}

.checkmark {
  width: 30px;
  height: 30px;
}

.daysOfOperation {
  margin-left: -40px;
}

.hoursOfOperation {
  color: greenyellow;
}


.social-text {
  font-size: 1.4rem;
}

/* FOOTER */

.hide {
  display: none;
}


/* MEDIA QUERIES */

/* above iPad */
@media only screen and (min-width: 768px) and (max-width: 1450px) {

  .nav-link {
    font-size: 0.8rem;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  /* Home page */
  .home-social-text {
    font-size: 0.7rem;
    font-weight: 900;
    text-shadow: 1px 1px white;
    letter-spacing: 1px;
  }

  .home-social-text-email {
    margin-left: 15px;
  }

  .home-socials {
    text-align: left;
  }

  .home-social-icons {
    width: 30px;
    height: 30px;
  }

  .home-social-icons-email {
    left: 0px;
  }

  .home-social-email {
    margin-left: 0px;
  }

  .home-social-instagram {
    margin-left: 0px;
  }

  .home-social-text {

    font-size: 1.2rem;
    letter-spacing: 0px;

  }

  .home-social-responsiveness {
    display: block;
  }

  .home-socials-large-screens {
    display: none;
  }

  .home-socials-icons-large-screens {
    margin: 0;
  }

  .social-icons {
    margin-left: 25%;
  }




  .footer-socials-heading {
    margin-left: 35%;
  }

  /* Bath */
  .bath-grid-container {
    grid-template-columns: 50% 50%;
  }

  /* Kitchen */
  .grid-container {
    grid-template-columns: 50% 50%;
  }

  /* Basement */
  .basementPara {
    margin-left: 200px;
    margin-right: 200px;
  }

  /* Pools */
  .poolLineBreaks {
    display: block;
  }

  /* Decks */
  /* Fencing, Deck and Patio */
  .deckPara {
    margin-left: 125px;
    margin-right: 50px;
    margin-bottom: 100px;
  }

  /* Footer */
  .footer-grid-container {
    display: grid;
    grid-template-columns: 100%;
  }

  /* ABOUT PAGE */
  /* .about-grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 900px;
    border: 20px solid green;
  } */

  .about-grid-item {}



  .vanPic {
    width: 400px;
    height: 450px;
    /* margin-top: 200px; */
  }

  /* ABOUT PAGE */

  .contact-grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1050px;
    margin-top: 50px;
  }

  .contact-grid-item {}


  .contactCard {
    margin-left: 30%;
    /* border: 20px solid red; */
  }

}



/* iPad and below */
@media only screen and (max-width: 768px) {

  .nav-link {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  /* Home page */


  .home-social-text {
    font-size: 0.7rem;
    font-weight: 900;
    text-shadow: 1px 1px white;
    letter-spacing: 1px;
  }

  .home-social-text-email {
    margin-left: 15px;
  }

  .home-socials {
    text-align: left;
  }

  .home-social-icons {
    width: 30px;
    height: 30px;
  }

  .home-social-icons-email {
    left: 0px;
  }

  .home-social-email {
    margin-left: 0px;
  }

  .home-social-instagram {
    margin-left: 0px;
  }

  .home-social-text {

    font-size: 1.2rem;
    letter-spacing: 0px;

  }

  .home-social-responsiveness {
    display: block;
  }

  .home-socials-large-screens {
    display: none;
  }

  .home-socials-icons-large-screens {
    margin: 0;
  }

  /* SERVICES PAGE*/


  .servicesImageContainerBefore {
    margin-left: 0%;
  }

  .beforeAfterImg {
    width: 90%;
  }

  .kitchen {
    /* margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px; */
    height: 700px;
    width: 500px;
    width: 100%;
  }

  /* Pools */
  .pool {
    width: 25rem;
  }

  .poolLineBreaks {
    display: block;
  }

  .poolPara {
    padding-left: 50px;
    margin-right: 50px;
  }


  /* Bath */
  .bath-grid-container {
    grid-template-columns: 100%;
  }

  .bath-image {
    height: 800px;
    width: 100%;
  }

  /* Kitchen */
  .grid-container {
    grid-template-columns: 100%;
  }

  /* Basement */
  .basementPara {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* FAQ */
  .faq {
    margin-left: 20%;
  }

  .accordion {
    width: 90%;
    left: 5%;
  }


  /* Quote */
  /* .quoteContainer {

    grid-template-columns: 100%;
    
  } */

  .quoteImgSupport {
    width: 300px;
    height: 300px;
  }

  .formInstagramPost {
    /* width: 35px; */
    /* left: 30%; */
    /* left: 15%; */
    /* margin-left: 155%;
    left: 150%; */
    padding-left: 60px;
    padding-right: 80px;
  }

  .quoteHeading {
    left: 0%;

  }

  .quoteForm {
    /* margin-left: auto; */
    width: 350px;

  }


  #formInputMessage {
    height: 250px;
    width: 305px;
  }

  .hoursOfOperation {
    margin-left: -10px;
  }

  .formInstagramPost {
    left: 15%;
    margin-left: -25%;

  }


  .quoteImg {
    left: 15%;
  }

  /* Footer */
  .footer-grid-container {
    display: grid;
    grid-template-columns: 100%;
  }

  .social-text {
    font-size: 0.8rem;
  }

  /* ABOUT PAGE */
  /* .about-grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 1200px;
  } */

  .about-grid-item {
    width: 100%;

  }

  .vanPic {
    width: 260px;
    height: 250px;
  }

  /* ABOUT PAGE */

  /* .contact-grid-container {
    grid-template-columns: 100%;
    margin-top: 250px;
  } */

  /* .contact-grid-item {} */

  .contactSupportImage {
    width: 270px;
    height: 270px;
  }

  .buttonEmailUs {
    margin-top: 120px;
  }

  .buttonEmailUsText {
    margin-left: 10px;
  }

  .buttonCallUs {
    margin-top: -70px;
    margin-left: 55px;
    bottom: 15px;
  }

  .buttonCallUsText {
    font-size: 1.2rem;
  }

  .contactPara {
    margin-right: 30px;
  }

  .contactParaResponsive {
    display: none;
  }

  /* .contactCard {
    margin-left: 0;
  } */

  .footer-social-icon {
    width: 30px;
    height: 30px;
  }
}



/* MEDIA QUERIES */