body {
    /* background: #222222; */
    /* margin: 50px 0 0; */
    overflow-x: hidden;
}

.text-container {
    width: 900px;
    margin: auto;
    /* border: 4px solid #eb1c49; */
    overflow-x: hidden;
    height: 1300px;
    margin-top: 500px;

}

.target {
    font-weight: bold;
    /* color: white; */
    animation-name: rightToLeft;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 1.8rem;
    background-image:
        repeating-radial-gradient(circle, rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0.75));
    text-align: center;
    /* border: 20px solid red; */

    /* animation: rightToLeft 4.5s linear infinite; */
}

@keyframes rightToLeft {
    0% {
        transform: translateX(800px);
    }

    100% {
        transform: translateX(-760px);
    }
}